# 权重文件
weights/

# 原始视频
data/

# 手动标注中间产物
farm_masks/

# 抽帧文件
frames/

# SAM2识别后的输出文件
masks_frame/

#其他文件
Drone-SAM2-Farmland Identification/

# ==================== 自动生成的结果文件 ====================
*.json
*.mp4
*.png
*.jpg
!assets/*.png
!assets/*.jpg
!assets/*.gif
!assets/*.mp4

# ==================== Python 运行环境垃圾 ====================
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.env/

# SAM2 源码自带的缓存
sam2/__pycache__/
sam2/*.pyc

# ==================== 系统文件 ====================
.DS_Store
Thumbs.db